/* Menü Butonu ve Dropdown */
.tab-menu {
    position: fixed; /* Sabit pozisyon */
    top: 10px; /* Üstten hizalama */
    right: 20px; /* Sağdan hizalama */
    z-index: 9999;
}

.tab-menu button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown-custom {
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Varsayılan olarak gizli */
    flex-direction: column;
    width: 150px;
    z-index: 10000;
}

.dropdown-custom.show {
    display: flex;
}

.dropdown-custom button {
    padding: 10px;
    background-color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    color: black;
}

.dropdown-custom button:hover {
    background-color: #f1f1f1;
}

/* Sayfanın genel düzeni */
.scenario-list-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Senaryo Başlığı Bölümü */
.scenarios-section h2 {
    margin-bottom: 20px;
    margin-top: 100px; /* Başlığı daha üstte tutmak için boşluğu sıfırlıyoruz */
    text-align: center;
}

/* İçerik konteyneri */
.content-container {
    display: flex;
    justify-content: space-between; /* İki tarafı dengeliyor */
    align-items: flex-start;
    margin-top: 80px; /* İçeriklerin üst boşluğunu artırıyoruz */
}

/* Senaryo kısmı */
.scenarios-section {
    width: 50%; /* Genişliği %50 yaparak yerleştiriyoruz */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-height: 800px;
    overflow-y: auto;
}

.charts-and-stats-section {
    width: 45%; /* Grafiklerin genişliğini %45 yapıyoruz */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}


/* İstatistiksel veriler bölümü */
.statistics-section {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px; /* Üst boşluğu artırarak aşağı indiriyoruz */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Grafikler ve istatistiklerin olduğu kısım */
.charts-and-stats-section {
    width: 45%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 50px; /* Grafikleri biraz daha aşağıya çekiyoruz */
}



